
{% load static %}
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>MDIS</h3>
            <p>
            MDIS is a pioneering medical solutions provider dedicated to empowering healthcare professionals with rapid and precise diagnostic tools, leveraging cutting-edge AI technology.
            </p>
          </div>

<!--          <div class="col-lg-2 col-md-6 footer-links">-->
<!--            <h4>Quick Links</h4>-->
<!--            <ul>-->
<!--             -->
<!--            </ul>-->
<!--          </div>-->

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
               <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}" >Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'malaria' %}" >Malaria Detection</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'tumor' %}" >Brain Tumor Classification </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'pnemonia' %}" >Pneumonia Classification</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Info</h4>
            <p>
              K.T. Marg, Vartak College Campus, <br>Vasai Road (W), Dist-Palghar, Vasai,<br> Maharashtra 401202<br>
              <strong>Phone:</strong> +91-7039255357<br>
              <strong>Email:</strong> aadilshaikh6572@gmail.com<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Multi Disease Inference System</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->